{% extends 'base.html.twig' %}

{% block title %}Ajout d'une catégorie{% endblock %}

{% block body %}
	
	{# debut de la génération du formulaire <form>#}
	{{ form_start(form) }}

		{# génère  tous les champs 
			{{ form_widget(form) }}
		#}

	{# customisation champ par champ #}

	{# customisation du label du champ libelle #}
	{{ form_label(form.libelle, 'Libellé top', {'label_attr' : {'class' :'ma-classe'}}) }}

	{# génération des éventuelles erreurs #}
	{{ form_errors(form.libelle) }}

	{# génération du champ libelle #}
	{{ form_widget(form.libelle, {'attr':{'class': 'form-control-lg', 'placeholder': 'libelle intéressant svp'}}) }}

	<div class="autre-classe">
		{# form_row() va générer le label, les erreurs et le champ #}

		{{ form_row(form.description, 
			{
				'label': false, 
				'attr': {
					'class':'form-control-lg',
					 'placeholder':'okkkkkkkkkkkk'
					}
				}
			)
		}}
		
	</div>

	{# fin de la génération du formulaire </form> et va générer tout les champs qui ne l'ont pas encore été#}
	{{ form_end(form) }}

{% endblock %}
