{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

	{# affichage des éventuels messages flash #}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	<div class="row">
		{% if article.image %}
		<div class="col-md-6">
			<img class="img-fluid" src="{{ asset('uploads/article/image/' ~ article.image) }}">
		</div>
		{% endif %}
		<div class="col-md-6">
			<article>
				<h3>{{ article.title }}</h3>
				publié dans la catégorie <a href="{{ path('categorie', {id: article.categorie.id}) }}">{{ article.categorie.libelle }}</a>, le {{ article.datepubli|date('d/m/Y') }} par {{ article.user.username }}
				<p>{{ article.content }}</p>
			</article>
		</div>
	</div>
{% endblock %}
