{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

	{# affichage des éventuels messages flash #}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}


	<article>
		<h3>{{ article.title }}</h3>
		publié dans la catégorie <a href="{{ path('categorie', {id: article.categorie.id}) }}">{{ article.categorie.libelle }}</a>, le {{ article.datepubli|date('d/m/Y') }} par {{ article.user.username }}
		<p>{{ article.content }}</p>
	</article>
{% endblock %}
