{% extends 'base.html.twig' %}

{% block title %}Liste des articles récents{% endblock %}

{% block body %}
	{# {{ dump(articles) }} ici articles est un tableau de tableaux #}

	{% for article in articles %}
		<article>
			<h3>{{ article.title }}</h3>

			publié par {{ article.username }} le {{ article.date_publi }} 
			{# article est aun tableau article['date_publi'] contient la date au format datetime #}

			<a href="{{ path('showArticle', {id: article.id}) }}">Voir</a>
		</article>
	{% endfor %}

	{% for article in articles2 %}
		<article>
			<h3>{{ article.title }}</h3>
			publié par {{ article.user.username }} le {{ article.datepubli|date('d/m/Y') }}
			<a href="{{ path('showArticle', {id: article.id}) }}">Voir</a>
		</article>
	{% endfor %}

{% endblock %}
